<div class="pta-sheet-body flexcol">
    <div class="flexrow flex-gap-l pta-actor-sheet-header pta-sheet-header sheet-header">
        <img class="flex0" title="{{document.type}} " data-action="editImage" height="150" src="{{document.img}}">
        {{!-- Header fields --}}
        <div class="pta-id-card flexrow flex-align-start flex-gap-m">
            {{!-- Header fields --}}
            <div class="flexcol flex-gap-s">
                <input class="pta-actor-name" type="text" value="{{document.name}}" name="name">
                {{systemFieldGroup system 'rank'}}
                {{systemFieldGroup system 'origin'}}
                <div class="progress-bar">
                    <label>Health</label>
                    <div class="wrapper">
                        <div class="bar {{#if (lt (divide system.hp.value system.hp.max) 0.33)}}red{{else}}green{{/if}}" style="width: {{multiply 100 (divide system.hp.value system.hp.max)}}%;">
                        </div>
                        <div class="pta-s flexrow">
                            {{systemFieldInput system 'hp.value'}}
                            /
                            {{#if isEditMode}}
                                {{systemFieldInput system 'hp.base'}}
                            {{else}}
                                <div class="text-center">{{system.hp.max}}</div>
                            {{/if}}
                        </div>
                    </div>
                </div>
            </div>
            {{!-- Character classes --}}
            <div class="pta-level flexcol flex-gap-s flex-align-start">
                {{#each itemTypes.career as |career|}}
                    <a data-uuid="{{career.uuid}}" data-action="edit" style="font-size: 1.2rem;">
                        Lv. {{career.system.level}} {{career.name}}
                    </a>
                {{/each}}
            </div>
        </div>
    </div>
    {{> "pta.tabs-content"}}
</div>