<div class="pta-tab pta-tab-content">
    <div class="flexrow flex-gap-m">
        <div class="flexcol flex-gap-m">
            {{toFieldGroup schema 'details.age' value=system.details.age}}
            {{toFieldGroup schema 'details.eyes' value=system.details.eyes}}
            {{toFieldGroup schema 'details.hair' value=system.details.hair}}
        </div>
        <div class="flexcol flex-gap-m">
            {{toFieldGroup schema 'details.gender' value=system.details.gender}}
            {{toFieldGroup schema 'details.height' value=system.details.height}}
            {{toFieldGroup schema 'details.weight' value=system.details.weight}}
        </div>
    </div>
    <div class="flexcol flex-gap-s">
        {{#collapsible label='Description' collapsed=false cssClass='description'}}
            {{formInput ../description.field value=../description.value enriched=../description.enriched name='system.description' toggled=true}}
        {{/collapsible}}

        {{#if (isGM)}}
            {{#collapsible label='GM Notes (Private)' collapsed=true cssClass='description'}}
                {{formInput ../gmNotes.field value=../gmNotes.value enriched=../gmNotes.enriched name='system.gmNotes' toggled=true}}
            {{/collapsible}}
        {{/if}}

    </div>
</div>