<div class="pta-tab">
  <div class="flexcol flex-gap-m">

    <div class="stat-bonuses">
      <div><b>Stat Bonuses</b></div>
      <div class="flexrow flex-gap-m flex-align-center">

        {{#each stats as |stat key|}}
          <div class="ability-bonus flexcol">
            <div class="bonus-label">{{stat.label.long}}</div>
            {{toFieldInput stat.field 'bonus' value=stat.bonus}}
          </div>
        {{/each}}

        <div class="ability-bonus flexcol">
          <div class="bonus-label">{{localize 'PTA.Generic.MaxHealth'}}</div>
          {{systemFieldInput system 'bonuses.hpMax'}}
        </div>
      </div>
    </div>

    {{!-- Active effects list, seperate the effects by type first, then list --}}
    <ol class="pta-effect-lists flexcol flex-gap-l">
      {{#each effects as |section sid|}}
        <div class="pta-effect-list pta-item-list">
          <li class="pta-effect-list-header pta-item-list-header flexrow" data-effect-type="{{section.type}}" data-parent-id="{{@root.actor.id}}">
            <div class="pta-effect-name">{{localize section.label}}</div>
            <div class="pta-effect-source">{{localize "PTA.Effect.Source"}}</div>
            <div class="pta-effect-duration">{{localize "PTA.Effect.Duration"}}</div>
            <button class="pta-effect-controls pta-clear-button" data-action="effectCreate" title="{{localize 'DOCUMENT.Create' type=" Effect"}}">
              <i class="fas fa-plus"></i>
            </button>
          </li>
          <ol class="pta-item-entries">
            {{#each section.effects as |effect|}}
              <li class="pta-item pta-effect flexcol collapsible collapsed" data-uuid="{{effect.uuid}}">
                <div class="flexrow">
                  {{!-- Item name and image --}}
                  <div class="pta-effect-name flexrow" data-action="collapse">
                    <div class="pta-effect-image"><img src="{{effect.img}}" width="30" height="30" /></div>
                    <div>{{effect.name}}</div>
                  </div>

                  <div class="pta-effect-source">{{effect.sourceName}}</div>
                  <div class="pta-effect-duration">{{effect.duration.label}}</div>

                  <div class="pta-effect-controls flexrow">
                    <button class="pta-clear-button" data-action="menu"><i class="fas fa-ellipsis-vertical"></i></button>
                  </div>
                </div>

                <div class="collapsible-content" data-action="collapse">
                  <div class="wrapper">
                    <div class="flexcol">
                      {{{effect.description}}}
                    </div>
                  </div>
                </div>
              </li>
            {{/each}}
          </ol>
        </div>
      {{/each}}
    </ol>
  </div>
</div>