{{!-- Content for move type items --}}
{{#*inline 'move-details'}}
  <div class="pta-item-detail pta-damage flex-align-center">
    {{item.system.damage.formula}}
  </div>
  <div class="pta-item-detail pta-type-tag pta-type-{{item.system.type}} pta-fill">
    {{localize (objectValue @root.config.pokemonTypes item.system.type)}}
  </div>
  <div class="pta-item-detail pta-category flexcol flex-align-center">
    {{localize (objectValue @root.config.moveClass item.system.category)}}
  </div>
{{/inline}}

{{#*inline 'move-content'}}
  <div class="pta-move-details flexcol flex-gap-s">
    {{#if (not (eq item.system.ailment.type null))}}
      <div class="text-left"><b>{{localize @root.config.generic.ailment}}</b>: {{item.system.ailment.type}}</div>
    {{/if}}
  </div>
{{/inline}}

{{!-- Common, used when a specific isnt set --}}
{{#*inline 'equipment-details'}}
  <div class="pta-item-detail pta-equip-state">
    <button class="pta-clear-button" data-action="use">
      {{#if item.system.equipped}}
        <i class="fas fa-hand-fist"></i>
      {{else}}
        <i class="fas fa-backpack"></i>
      {{/if}}
    </button>
  </div>
  {{> 'item-quantity'}}
{{/inline}}

{{#*inline 'equipment-content'}}

{{/inline}}

{{!-- Common, used when a specific isnt set --}}
{{#*inline 'common-details'}}
  {{> 'item-quantity'}}
{{/inline}}

{{#*inline 'common-content'}}

{{/inline}}

{{!-- Partial helper for common details --}}
{{#*inline 'item-quantity'}}
  <div class="pta-item-detail pta-item-quantity flexrow flex-group-center flexshrink">
    <button class="pta-quantity-subtract pta-clear-button flexshrink" data-action="itemQuantity" data-value="-1">
      <i class="fas fa-minus"></i>
    </button>
    <div class="pta-item-quantity-counter text-center">{{item.system.quantity}}</div>
    <button class="pta-quantity-add pta-clear-button flexshrink" data-action="itemQuantity" data-value="1">
      <i class="fas fa-plus"></i>
    </button>
  </div>
{{/inline}}

<li class="pta-item collapsible collapsed" data-uuid="{{item.uuid}}" draggable="true" data-searchable="item">
  <div class="flexrow" data-action="collapse">
    <div class="pta-item-name">
      <div class="pta-item-image">
        <img data-action="itemUse" src="{{item.img}}" title="{{item.name}}" width="30" height="30" />
      </div>
      <div>{{item.name}}</div>
    </div>

    {{!-- Item listing details, only the most important at a glance details belong here --}}
    {{#if (eq item.type 'move')}}
      {{> 'move-details' item=item}}
    {{else if (eq item.type 'equipment')}}
      {{> 'equipment-details' item=item}}
    {{else}}
      {{> 'common-details' item=item}}
    {{/if}}

    {{!-- Item controls, different buttons and actions to use the item more accurately then in a single 'use' button --}}
    <div class="pta-item-controls">
      <button class="pta-clear-button" data-action="menu"><i class="fas fa-ellipsis-vertical"></i></button>
    </div>
  </div>

  {{!-- Item content, an alternative to opening up the full item sheet, display secondary info here --}}
  <div class="collapsible-content" style="width: 100%;" data-action="collapse">
    <div class="wrapper">
      <div class="flexcol flex-gap-m" style="width: 100%; padding-left: 1rem; margin: 0.5rem 0;">
        {{#if (eq item.type 'move')}}
          {{> 'move-content' item=item}}
        {{else}}
          {{> 'common-content'}}
        {{/if}}
        <div class="pta-item-description">
          <div class="text-left">
            {{{item.system.description}}}
          </div>
        </div>
      </div>
    </div>
  </div>
</li>