{{!-- Content for move type items --}}
{{#*inline 'move-details'}}
  <div class="pta-item-detail pta-type-tag pta-type-{{item.system.type}} pta-fill">
    {{localize (objectValue @root.config.pokemonTypes item.system.type)}}
  </div>
  <div class="pta-item-detail pta-category flexcol flex-align-center">
    {{localize (objectValue @root.config.moveClass item.system.category)}}
  </div>
  <div class="pta-item-detail pta-damage flex-align-center">
    {{item.system.damage.formula}}
  </div>
{{/inline}}

{{#*inline 'move-content'}}
  <div class="pta-move-details flexcol flex-gap-s">
    {{#if (not (eq item.system.ailment.type null))}}
      <div class="text-left"><b>{{localize @root.config.generic.ailment}}</b>: {{item.system.ailment.type}}</div>
    {{/if}}
  </div>
{{/inline}}

{{#*inline 'consumable-content'}}

{{/inline}}

<li class="pta-item collapsible collapsed" data-uuid="{{item.uuid}}" draggable="true" data-searchable="item">
  <div class="flexrow" data-action="collapse">
    <div class="pta-item-name">
      <div class="pta-item-image">
        <img data-action="itemUse" src="{{item.img}}" title="{{item.name}}" width="30" height="30" />
      </div>
      <div>{{item.name}}</div>
    </div>

    {{!-- Item listing details, only the most important at a glance details belong here --}}

    <div class="pta-item-details">
      {{#if (eq item.type 'move')}}{{> 'move-details' item=item}}{{/if}}
    </div>

    {{!-- Item controls, different buttons and actions to use the item more accurately then in a single 'use' button --}}
    <div class="pta-item-controls">
      <button class="pta-clear-button" data-action="menu"><i class="fas fa-ellipsis-vertical"></i></button>
    </div>
  </div>

  {{!-- Item content, an alternative to opening up the full item sheet, display secondary info here --}}
  <div class="collapsible-content" style="width: 100%;" data-action="collapse">
    <div class="wrapper">
      <div class="flexcol flex-gap-m" style="width: 100%; padding-left: 1rem; margin: 0.5rem 0;">
        {{#if (eq item.type 'move')}}{{> 'move-content' item=item}}{{/if}}
        <div class="pta-item-description">
          <div class="text-left">
            {{{item.system.description}}}
          </div>
        </div>
      </div>
    </div>
  </div>
</li>