<li class="item flexrow" data-item-uuid="{{item.uuid}}" data-uuid="{{item.uuid}}">
  <div class="item-name">
    <div class="item-image">
      <a data-action="itemUse">
        <img src="{{item.img}}" title="{{item.name}}" />
      </a>
    </div>
    <div>{{item.name}}</div>
  </div>
  <div class="item-quantity flexrow">
    <a class="fa-solid fa-minus" data-action="itemQuantity" data-value="-1" title="remove"></a>
    <div class="item-count">{{item.system.quantity}}x</div>
    <a class="fa-solid fa-plus" data-action="itemQuantity" data-value="1" title="add"></a>
  </div>
  <div class="item-controls">
    {{#if (eq item.type "rune")}}
      {{#if item.system.equipped}}
        <a class="item-control fa-solid fa-diamond" data-action="use" data-use="equip"></a>
      {{else}}
        <a class="fas fa-arrow-right" data-action="use" data-use="give"></a>
        <a class="item-control fa-regular fa-diamond" data-action="use" data-use="equip"></a>
      {{/if}}
    {{/if}}
    <a class="item-control fas fa-edit" data-action="edit" title="{{localize 'DOCUMENT.Update' type=Item}}"></a>

    {{#if isEditMode}}
      <a class="item-control fas fa-trash" data-action="delete" title="{{localize 'DOCUMENT.Delete' type=Item}}"></a>
    {{/if}}
  </div>
</li>