<ol class="pta-pc-layout-list pta-item-list">
    <div class="pta-item-list-header flexrow">
        <div class="pta-item-list-name flexrow flex-gap-m">
            <div>{{localize 'PTA.Generic.Companion'}}</div>
        </div>
    </div>
    {{#each pokemon as | pokemon key |}}
        {{!-- List standard pokemon --}}
        {{#if (and (not pokemon.active) (not pokemon.missing))}}
            <li class="pta-item collapsible collapsed" data-searchable="companion" data-uuid="{{pokemon.uuid}}">
                <div class="flexrow" data-action="collapse">
                    <div class="pta-item-name">
                        <div class="pta-item-image">
                            <img data-action="edit" src="{{pokemon.img}}" title="{{pokemon.name}}" width="30" height="30">
                        </div>
                        <div>{{pokemon.name}}</div>
                    </div>
                </div>
            </li>
        {{/if}}
        {{!-- List out pokemon with damaged links --}}
        {{#if pokemon.missing}}
            <li class="item flexrow" data-uuid="{{pokemon.uuid}}">
                <div class="item-name">
                    <i class="fas fa-link-slash"></i>
                    <div>{{pokemon.name}}</div>
                </div>
                <div class="item-controls">
                    <a class="item-control" data-action="pokemonRemove" title="PTA.TitleHint.Delete">
                        <i class="fas fa-trash"></i>
                    </a>
                </div>
            </li>
        {{/if}}
    {{/each}}
</ol>