<div class="flexcol flex-gap-m" style="padding: 10px;">
    <div class="flexrow flex-gap-m">
        {{toFieldGroup schema 'type' value=system.type}}
        {{toFieldGroup schema 'class' value=system.class label='damage class'}}
    </div>
    {{toFieldGroup schema 'accuracy' value=system.accuracy label='accuracy'}}
    {{toFieldGroup schema 'damage.formula' value=system.damage.formula label='Damage Formula'}}
    {{toFieldGroup schema 'range' value=system.range label='attack range'}}
    {{toFieldGroup schema 'critical_chance' value=system.critical_chance label='Critical Bonus'}}
    <div>
        <b>Move Uses</b>
        {{toFieldGroup schema 'uses.value' value=system.uses.value label='Remaining uses'}}
        {{toFieldGroup schema 'uses.max' value=system.uses.max label='Max uses'}}
    </div>
    <div>
        <b>Multi Hit</b>
        {{toFieldGroup schema 'multi_hit.min' value=system.multi_hit.min label='Min Hits'}}
        {{toFieldGroup schema 'multi_hit.max' value=system.multi_hit.max label='Max hits'}}
    </div>
    <div>
        <b>Effects</b>
        {{toFieldGroup schema 'drain' value=system.drain label='drain'}}
    </div>
</div>