{{#*inline 'pokemon-move'}}
    {{#if (eq item.type 'move')}}
        <li class="item collapsible collapsed" data-item-uuid="{{item.uuid}}" data-uuid="{{item.uuid}}" draggable="true">
            <div class="flexrow">
                <div class="item-name" data-action="collapse">
                    <div class="item-image">
                        <a data-action="itemUse">
                            <img src="{{item.img}}" title="{{item.name}}">
                        </a>
                    </div>
                    <div>{{item.name}}</div>
                </div>
                {{#if (gt item.system.uses.max 0)}}
                    <div>Uses [{{item.system.uses.value}}/{{item.system.uses.max}}]</div>
                {{/if}}
                <div class="item-controls">
                    {{#if (not (eq item.system.uses.max item.system.uses.value))}}
                        <a class="item-control" data-action="itemUse" data-use="reload" title="Reset Uses">
                            <i class="fas fa-arrows-rotate"></i>
                        </a>
                    {{/if}}
                    <a class="item-control fas fa-edit" data-action="itemEdit" title="Edit"></a>
                    {{#if @root.isEditMode}}<a class="item-control fas fa-trash" data-action="itemDelete" title="Delete"></a>{{/if}}
                </div>
            </div>
            <div class="collapsible-content" style="width: 100%;">
                <div class="wrapper flexcol" style="width: 100%;">
                    <div class="text-left" style="width: 100%; margin-left: 0.5rem">
                        {{{item.system.description}}}
                    </div>
                </div>
            </div>
        </li>
    {{/if}}
{{/inline}}

<div class="flexrow flex-align-start flex-gap-m">
    <div class="flex0">{{> 'pta.actor-ability-scores'}}</div>
    <div class="flexcol flex-group-start flex-gap-m">
        {{!-- Armour class list for the pokemon --}}
        <div class="flexrow pta-ac flex-gap-m">

            <div class="form-group stacked">
                <label>AC: {{localize "PTA.Ac.Physical"}}</label>
                <div class="form-inputs">
                    <input type="number" disabled="disabled" value="{{multiply system.stats.def.mod 3}}">
                </div>
            </div>

            <div class="form-group stacked">
                <label>AC: {{localize "PTA.Ac.Special"}}</label>
                <div class="form-inputs">
                    <input type="number" disabled="disabled" value="{{multiply system.stats.sdef.mod 3}}">
                </div>
            </div>

            <div class="form-group stacked">
                <label>AC: {{localize "PTA.Ac.Status"}}</label>
                <div class="form-inputs">
                    <input type="number" disabled="disabled" value="{{multiply system.stats.spd.mod 3}}">
                </div>
            </div>

            <div class="form-group stacked">
                <label>{{localize "PTA.Generic.Movement"}}</label>
                <div class="form-inputs">
                    <input type="number" disabled="disabled" value="{{multiply system.stats.spd.total 5}}">
                </div>
            </div>
        </div>

        <ol class="pta-move-list items-list">
            <span class="items-header flexrow">
                <span class="item-name">Moves</span>
                <div class="item-controls">
                    <a data-action="importMoves" class="item-control fas fa-arrow-down-to-line" title="PTA.Button.ImportMoves"></a>
                </div>
            </span>
            {{#each items as | item key |}}
                {{#if (eq item.type 'move')}}{{> 'pokemon-move' item=item}}{{/if}}
            {{/each}}
        </ol>
    </div>
</div>